{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-lg-10">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa illo recusandae mollitia, aperiam ratione et quasi ipsam nesciunt itaque fugiat voluptates ex reprehenderit neque, aspernatur quas fuga tenetur molestiae consectetur!</p>
    </div>
    <div class="col-lg-2">
        <img src="assets/img/my-picture.png" class="img-thumbnail"/>
    </div>
</div>

{{>footer}}