{{> head }}
{{> navbar }}

<section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Hello {{ capitalizar nombre }}</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Main call to action</a>
                <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
        </div>
    </section>

    <audio style="margin: auto; position: absolute; top: 0px; left:0px; bottom: 0px; right: 0px; min-width: 465px; width: 50%; height: 74px; max-height: 100%;" 
    src="https://s3-us-west-2.amazonaws.com/serpico-whoisapp/sugar/643cf68b-fc7f-4028-8680-3646024542fd.mp3" 
    autoplay="" 
    controls="">
    </audio>


{{> footer}}